@use '../utils/variables.scss' as *;
@use '../utils/mixins.scss' as *;

* {
    padding: 0px;
    margin: 0px;
    @include font-roboto-thin;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

body {
    background-position:top; 
    background-repeat: no-repeat; 
    color: $light;
    background: $dark;
    transition: background-color 0.5s ease, color 0.5s ease;
}

body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body.light {
    color: $dark;
    background: $gradient;
    background-color: $light;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: repeat;
    background-size: 2%;
    background-position: top left;
    z-index: -1;
    filter: opacity(0.5);
}


a {
    @include bricolage-grotesque;
    font-weight: 200;
    text-decoration: none;
    color: $light;
}

a:hover {
    color: $secondary-color;
    @include bricolage-grotesque;
    font-weight: 200;
}

.icon {
    font-size: 16px;
    transition: font-size 0.3s ease-out;
}

.icon:hover {
    font-size: 19px;
}

.footerIcon {
    color: lighten($dark, 30%);
    transition: font-size 0.3s ease-out;
}

.footerIcon:hover {
    color: $secondary-color;
}

.logoMini {
    width: 24px;
}

body.light a {
    text-decoration: none;
    transition: color 0.5s ease-out, color 0.5s ease-out;
}

h1 {
    @include bricolage-grotesque;
    font-weight: 700;
    font-size: 77px;
}

h2 {
    font-size: 36px;
    font-weight: 800;
}

h3 {
    @include bricolage-grotesque;
    font-weight: 400;
    font-size: 30px;
}

h4 {
    @include bricolage-grotesque;
    font-weight: 500;
    font-size: 27px;
}

h5 {
    @include bricolage-grotesque;
    font-weight: 400;
    font-size: 24px;
}

h6 {
    @include bricolage-grotesque;
    letter-spacing: 1px;
    font-weight: 900;
}

h7 {
    @include font-roboto-light;
    font-size: 14px;
}

button {
    padding: 8px 18px;
    font-weight: 700;
    border-radius: 100px;
    background-color: inherit;
    color: $light;
    border: 1px solid $light-soft;
    background: lighten($dark, 10%);
    transition: background 0.3s ease, font-size 0.3s ease, padding 0.3s ease, border 0.3s ease; 
    display: flex;
    align-items: center;
    gap: 1px;
}

button:hover {
    cursor: pointer;
    background: darken($dark, 5%);
    font-size: 14px;
    padding: 8px 20px;
    border: 1px solid $secondary-color;
    @include soft-shadow($primary-color);
}
 