$dark:  #094BAE;
$light: #FFF;
$gris: #c2c9d6;
$azul: rgb(18, 111, 252);
$azul-claro:rgba(16, 102, 232, 0.795);
$secondary-color:#7fe5ff;
$rosa: #f48fb1;
$azulito: #64b5f6;

$dark-font: #022962ab;
$light-soft: rgba(255, 255, 255, 0.5);
$light-softer: rgba(255, 255, 255, 0.838);

$gradient: linear-gradient(0deg, #142d5c 0%, #2656b0 100%);
$gradient-darker: linear-gradient(180deg,#094BAE 50%, rgb(18, 111, 252)100%);
$gradient-dark: linear-gradient(0deg, #51565e 0%, #1b1d1f 100%);
$gradient-claro: linear-gradient(0deg, #c2c9d6 0%, #ffffff 40%);
$gradient-dark-deg: linear-gradient(180deg,   #094BAE 0%,  rgb(16, 102, 232) 100%);
$gradient-dark-card: linear-gradient(180deg,   #010E2D 0%,  rgb(16, 102, 232) 100%);
$gradient-dark-cv: linear-gradient(180deg,   #094BAE 40%,  #012A82 100%);
$gradient-text: linear-gradient(25deg, #2709ae 0%, #7fe5ff 100%);
$primary-color:#cedbf3;
$secondary-color-softer:rgba(0, 255, 174, 0.414);

$box-shadow: #01122b;


$ipad-breakpoint: 768px;